@font-face {
  font-family: "iconfont"; /* Project id 2592539 */
  src: url('iconfont.woff2?t=1622794202344') format('woff2'),
       url('iconfont.woff?t=1622794202344') format('woff'),
       url('iconfont.ttf?t=1622794202344') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-baobiaotongji:before {
  content: "\e612";
}

.icon-wentibinganchaxun-xianxing:before {
  content: "\e622";
}

.icon-shangbao:before {
  content: "\e689";
}

.icon-luru:before {
  content: "\e609";
}

.icon-baobiaotongji1:before {
  content: "\e615";
}

.icon-luru1:before {
  content: "\e667";
}

.icon-shangbao1:before {
  content: "\e8b1";
}

.icon-baobiaotongji2:before {
  content: "\e631";
}

.icon-luru2:before {
  content: "\e603";
}

.icon-shangbao2:before {
  content: "\e641";
}

.icon-zidiankuguanli:before {
  content: "\e694";
}

.icon-DRG_binganchaxun:before {
  content: "\e655";
}

.icon-icon:before {
  content: "\e77c";
}

.icon-baobiaotongji3:before {
  content: "\e613";
}

.icon-luru3:before {
  content: "\e61a";
}

.icon-baobiaotongji4:before {
  content: "\e68c";
}

.icon-ziyuan24:before {
  content: "\e614";
}

.icon-binganchaxun:before {
  content: "\e62c";
}

.icon-binganchaxunxuanzhong:before {
  content: "\e62d";
}

.icon-icon_wentibinganchaxun:before {
  content: "\e662";
}

.icon-ziyuan5:before {
  content: "\ec4a";
}

.icon-baobiaotongji5:before {
  content: "\e664";
}

.icon-zhuxiaologout11:before {
  content: "\e618";
}

.icon-zhanghao:before {
  content: "\e623";
}

.icon-daochu2:before {
  content: "\e6b0";
}

.icon-jiantou-shang:before {
  content: "\e729";
}

.icon-jiantou-xia:before {
  content: "\e72c";
}

.icon-jihuoma:before {
  content: "\e606";
}

.icon-shezhi:before {
  content: "\e630";
}

.icon-system:before {
  content: "\e611";
}

.icon-shezhi1:before {
  content: "\e710";
}

.icon-404:before {
  content: "\e605";
}

.icon-yonghu1:before {
  content: "\e65b";
}

.icon-qu:before {
  content: "\e693";
}

.icon-mima:before {
  content: "\e65e";
}

