
/* 滚动条的宽度 */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  /* 滚动条的滑块 */
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
  }
  .el-tabs--card>.el-tabs__header{
      margin-bottom: 0;
  }
  /* 表格 */
  .el-table {
    border-top: none;
  }
  .el-table .el-table__body-wrapper {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    cursor: move;
  }
  .el-table--border::after {
    width: 0;
  }
  .el-table::before {
    height: 0;
  }
  .el-table tr th {
    background: #b3c0d1 !important;
    border-color: #e6e6e6;
    color: #000;
    font-weight: 600;
  }
  .el-table td,
  .el-table th {
    padding: 8px 0;
  }
  .el-table .el-table__row {
    background: #fff;
  }